<!DOCTYPE html>
<html>
	
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/layout2.css">
	</head>

	<body>
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
     	 			<a class="navbar-brand" href="/">Sample Nodejs</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a href="/">Home</a></li>
      				
    			</ul>
  			</div>
		</nav>

		<div class="container">
		
			{{{body}}}
        </div>
		<footer class="page-footer blue center-on-small-only">


    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: 

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
		<script src="/js/news.js"></script>
	</body>
</html>

